body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.quiz-container {
    background-position: center;
    background: #fff;
    width: 90%;
    max-width: 800px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}

.quiz-container, #result-container {
    text-align: center;
}

#question {
    background-color: whitesmoke;
    font-weight: 600;
    font-size: 28px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 20px 20px;
    color: black; 
}

.buttons img {
    width: 20%;
    height: auto;
    margin: 10px;
    cursor: pointer;
    margin-left: 50px;
    margin-right: 50px;
    transition: transform 0.3s ease;
}

.buttons img:hover {
    transform: scale(1.1);
}

.hidden {
    display: none;
}

#explanation {
    margin-top: 20px;
    font-size: 18px;
}

#next-button {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px 25px; 
    background-color: gray; 
    color: white;
    font-size: 28x; 
    border: 1px solid white;; 
    border-radius: 10px;
    cursor: pointer; 
}

#restart-button {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px 25px; 
    background-color: gray; 
    color: white;
    font-size: 14px; 
    border: 1px solid white;; 
    border-radius: 10px;
    cursor: pointer; 
}

#result-message {
    font-size: 24px;
    font-weight: 600;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}

.correct-filter {
    filter: hue-rotate(310deg); /* 초록색 필터 */
}

.incorrect-filter {
    filter: hue-rotate(150deg); /* 기본 필터 (빨간색일 경우 수정 필요) */
}

.exit-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px 20px;
    background-color: #222;
    color: white;
    border: 1px solid white;;
    border-radius: 4px;
    cursor: pointer;
}

.disabled {
    pointer-events: none; /* 클릭 불가능 */
    opacity: 0.5; /* 흐리게 표시 */
}